body {
    background-color: rgb(87, 42, 129);
    margin: 0px;
    padding: 0px;
}

#landmarks {
    position: absolute;
    left: 0;
    top: 0;
}

.video-container {
    width: 30%;
    height: 30%;
}

#webcam {
    left: 0;
}

.pdf-container {
    position: absolute;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: burlywood;
    margin: auto;
}

#pdf {
    width: 100%;
    height: 100%;
}